*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    color: lightblue;
}
body{
    background: rgb(0, 51, 67);
    color: rgb(0, 169, 0);
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
.container{
    background: rgb(0, 83, 78);
    width: 450px;
    padding: 1.5rem;
    margin:50px;
    border-radius: 10px;
    box-shadow: 0 20px 35px;
}

form{
    margin:0 2rem;
}

.form-title{
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    padding: 1.3rem;
    margin-bottom: 0.4rem;
}

input{
    width: 100%;
    color: darkgreen;
    background-color: lightgreen;
    border:none;
    border-bottom:3px solid black;
    padding-left: 1.5rem;
    font-size:17px;
}

.input-group{
    padding: 4% 0;
    position:relative
}

input:focus{
    background-color: rgb(240, 252, 210);
    outline: transparent;
    border-bottom:7px solid green;
}

#icon{
    position:absolute;
    padding:0.6%;
    color:darkgreen;
}

.btn{
    margin: 10px 0px;
    padding: 0.6rem;
    border-radius: 10px;
    outline:none;
    width: 100%;
    background:rgb(237, 230, 188);
    cursor:pointer;
    transition:0.9s;
}
.btn:hover{
    background:green;
    color:lightgreen;
}
.or{
    text-align: center;
    margin:5px 0px 1px;
    color:lightgreen
}
.icons{
    text-align: center;
    color:lightgreen;
}

#gmailFacebookIcons{
    padding:1rem 1.5rem;
    cursor: pointer;
    border:1px solid black;
    margin:10px 15px;
    border-radius: 10px;
    background: green;
    transition: 0.9s;
}

#gmailFacebookIcons:hover{
    background: lightgreen;
    color:darkgreen;
}

.links{
    font-weight: bold;
    text-align: center;
    color: lightgreen;
}

button{
    border:transparent;
    color: lightgreen;
    background: darkgreen;
    font-weight: bold;
    padding: 5px;
    border-radius: 10px;
    margin: 20px 0px 0px;
    font-size: 16px;
    cursor:pointer;
    transition: 0.9s;
}

button:hover{
    background: lightgreen;
    color:darkgreen;
}
